* {
    margin: 0;
}


body {
    display: flex;
    background-color: #f1f1f1;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 220px;
    height: 450px;
    background-color: white;
    border: 1px solid black;
}

.logo {
    width: 30%;
}